@import 'dark-theme.css';
@import 'light-theme.css';

/* ---------------- UNIVERSALS ----------------  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    transition: all 200ms ease-in-out;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.table-scroll {
    overflow-x: auto;
}

input.clean {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.clean,
input::-webkit-inner-spin-button.clean {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number].clean {
    -moz-appearance: textfield;
}

/* ---------------- GRID ROWS ----------------  */
.grid-row {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.grid-row.one {
    grid-template-columns: 100%;
}

.grid-row.two {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

.grid-row.three {
    grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
}

.grid-row.four {
    grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px);
}

.grid-row.five {
    grid-template-columns: calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px);
}

.grid-row.five {
    grid-template-columns: calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px) calc(100%/6 - 10px);
}

.grid-row-item {
    text-align: center;
    padding: 9px;
    background: transparent;
    border-radius: 3px;
    position: relative;
}

.grid-row-item-label {
    font-weight: bold;
    position: absolute;
    font-size: 12px;
    padding: 0 5px;
    top: -8px;
}

.grid-row-item.clickable:hover {
    cursor: pointer;
}

/* ---------------- APPLICATION ----------------  */
#app {
    padding: 20px;
}

#company-order-wrapper {
    max-width: 1000px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    margin: 12vh auto 0 auto;
}

td.delete {
    text-align: center;
}

td.delete:hover {
    cursor: pointer;
}

.no-data-info {
    font-weight: 500;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
    border-radius: 0 0 3px 3px;
}

/* ---------------- TABLE ----------------  */
.table {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

.table > thead > tr {
}

.table > thead > tr > th {
    padding: 10px;
}

.table > tbody > tr > td {
    padding: 10px;
}

.td-clickable:hover {
    cursor: pointer;
}

/* ---------------- CHECKBOX ----------------  */
.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 25px;
}

.label-cbx-td {
    margin: auto;
    display: table;
}

.label-cbx:hover .checkbox svg path {
    stroke-dashoffset: 0;
}

.label-cbx .checkbox {
    position: relative;
    top: 2px;
    float: left;
    margin-bottom: 4px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    transition: border-color 250ms ease;
}

.label-cbx .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
}

.label-cbx .checkbox svg path {
    fill: none;
    stroke: transparent;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 250ms ease;
}

.label-cbx .checkbox svg polyline {
    fill: none;
    stroke: transparent;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 250ms ease;
}

.label-cbx > span {
    pointer-events: none;
    vertical-align: middle;
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

/* ---------------- PROGRESS BAR ----------------  */
.relative {
    position: relative;
}

.shadow-pay-progress {
    width: 960px;
    height: 100%;
}

#shadow-pay-progress-wrapper {
    transition: width 250ms ease-in-out;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 10;
    overflow: hidden;
    position: absolute;
}

/* ---------------- MEDIA QUERIES ----------------  */
@media (max-width: 1000px) {
    #company-order-wrapper {
        max-width: 95%;
        margin: 10px auto 10px auto;
    }
}

@media (max-width: 700px) {

}

@media (max-width: 350px) {

}

/* ------------------------- MODAL ------------------------- */
.modal-background {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
    border-radius: 3px;
    width: 420px;
    min-height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close-x {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}

.modal-title {
    font-size: 18px;
    padding: 15px 40px 15px 20px;
}

.modal-content {
    padding: 10px;
}

/* ------------------------- EFFECTS ------------------------- */
.fade-enter-active, .fade-leave-active {
    transition: opacity 200ms;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}